fastapi
uvicorn
sqlalchemy
pydantic[dotenv]
python-multipart
passlib[bcrypt]
email-validator
pandas
sentence-transformers
scikit-learn
mysql-connector-python
python-jose[cryptography]
python-dotenv
aiofiles
python-magic
PyPDF2
pytesseract
opencv-python
stripe
